.home-container {
  display: flex;
  .all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid #fdc827;
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        text-transform: uppercase;
        font-weight: bold;
        border-left: 5px solid #ff9900;
        padding-left: 10px;
        margin-bottom: 20px;
      }
      .view-all {
        color: #ff9900;
        cursor: pointer;
      }
    }
    .movies-thumbnail {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
      margin-bottom: 30px;
      .movie {
        cursor: pointer;
        .cover {
          img {
            border-radius: 5px;
          }
        }
        .details {
          max-width: 130px;
          .name {
            font-weight: bold;
            height: 50px;
            margin-top: 5px;
          }
        }
      }
    }
  }
  .popular-movies {
    width: 25%;
    min-height: calc(100vh - 80px);
    padding: 20px 40px;
    font-family: "Roboto", sans-serif;
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      border-left: 5px solid #ff9900;
      padding-left: 10px;
      margin-bottom: 20px;
    }
    .movies {
      .movie {
        margin-bottom: 20px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-column: 10px;
        .name {
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .view-all {
        color: #ff9900;
        cursor: pointer;
        text-align: right;
        margin-top: 30px;
      }
    }
  }
}
.rating {
  position: relative;
  padding-right: 45px;
}
span.rating-value {
  position: absolute;
  top: 10px;
  right: 0;
  font-weight: bold;
}
@media (max-width: 1075px) {
  .home-container {
    .all-movies {
      width: 65%;
    }
    .popular-movies {
      width: 35%;
      padding: 20px;
      .movies {
        .movie {
          .name {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 730px) {
  .home-container {
    .all-movies {
      width: 50%;
    }
    .popular-movies {
      width: 35%;
      padding: 20px;
      .movies {
        .movie {
          display: block;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .home-container {
    .all-movies {
     padding: 10px;
    }
  }
}
@media (max-width: 390px){
  .home-container{
    .popular-movies{
      width: 45%;
    }
  }
}
@media (max-width: 320px){
  .home-container{
    h4{
      font-size: 14px;
    }
    .popular-movies{
      padding: 10px;
    }
    .view-all{
      font-size: 10px;
    }
    .all-movies{
      .movies-thumbnail{
        .movie{
          width: 120px;
          height: auto;
          img{
            width: 120px;
            height: auto;
          }
        }
      }
    }
  }
  span.rating-value {
    font-size: 12px;
  }
}

