.movie-container{
  width: 1100px;
  margin: 0 auto;
  .top{
    display: flex;
    .left{
      width: 400px;
      .name{
        font-size: 36px;
        font-weight: bold;
      }
      .rating{
        display: flex;
        justify-items: center;
        margin-bottom: 15px;
        .rating-value{
          font-weight: bold;
          margin-left: 20px;
          padding-top: 11px;
        }
      }
      .cove{
        width: 350px;
        height: 400px;
        margin-right: 50px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

}
