.movie-container {
  max-width: 1100px;
  margin: 0 auto;
  .top {
    display: flex;
    .left {
      max-width: 40%;
      .name {
        font-size: 36px;
        font-weight: bold;
      }
      .rating {
        display: flex;
        justify-items: center;
        margin-bottom: 15px;
        .rating-value {
          font-weight: bold;
          margin-left: 20px;
          padding-top: 11px;
        }
      }
      .cover {
        width: 350px;
        height: 400px;
        margin-right: 50px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .right {
      width: 60%;
      .title {
        margin-bottom: 30px;
      }
      .rating-form {
        .form-group {
          margin-top: 20px;
        }
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
        textarea {
          resize: none;
        }
      }
      .btn-container {
        margin-top: 30px;
      }
    }
  }
  .bottom {
    margin-top: 50px;
    padding: 10px;
    .title {
      margin-bottom: 30px;
    }
    .reviews {
      width: 800px;
      .review {
        margin-bottom: 25px;
        background-color: #f1f1f1;
        padding: 20px;
        border-radius: 5px;
        .review-details {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          .review-left {
            .author {
              font-size: 18px;
              font-weight: bold;
            }
            .author_dt {
              opacity: 0.7;
            }
          }
          .review-right {
            .rating {
              display: flex;
              align-items: center;
              .rating-value {
                margin-left: 20px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1075px) {
  .movie-container {
    max-width: 900px;
    .top {
      justify-content: space-between;
      padding: 20px 0;
      .left{
        .rating{
          .rating-value{
            padding: 0;
          }
        }
      }
    }
    .form-control {
      width: 500px;
    }
  }
}
@media (max-width: 930px) {
  .movie-container {
    width: 700px;
    .form-control {
      width: 300px;
    }
    .bottom {
      width: 100%;
      .reviews {
        width: 100%;
      }
    }
  }
}
@media (max-width: 730px) {
  .movie-container {
    .top {
      justify-content: space-around;
      padding: 10px 0;
      .left {
        .name {
          font-size: 24px;
        }
        .cover {
          width: 280px;
          height: auto;
          margin-right: 10px;
        }
      }
    }
    .form-control {
      width: 300px;
    }
  }
}
@media (max-width: 680px) {
  .movie-container {
    width: 100%;
    .form-control {
      width: 250px;
    }
  }
}
@media (max-width: 600px) {
  .movie-container {
    .top {
      display: block;
      padding: 20px;
      .right {
        width: 100%;
      }
    }
    .form-control {
      width: 100%;
    }
  }
}
@media (max-width: 510px) {
}
